<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Browser Based Font Manager</title>

    <style>
    <% fonts.forEach((font, index) => { %>

        
            @font-face {
                font-family: 'Font<%=index %>'; /* a unique font name for each font */
                src: url('/font/<%= font.replace(/\\/g, '/') %>') format('<%= font.endsWith('.ttf') ? "truetype" : font.endsWith('.otf') ? "opentype" : "woff" %>');  /* set the font url from the fonts array and set the format to truetype, opentype or else to */ 
            }
        

  <%  }) %> 
    </style>

</head>
<body>

    <h1>Font Manager</h1>

    <form action="/change-font-dir" method="post">
        <input type="text" name="changedFontsDir" placeholder="Enter fonts directory path" value="/fonts" required>
        <button type="submit">Change Directory</button>
    </form>

    <input type="range" id="fontSizeSlider" min="7" max="70" value="16">

    <div id="fonts">

        <% fonts.forEach((font, index) => { %>

                <p style="font-family: 'Font<%=index %>';">Sample text using the font <%= font %></p>
                

        <%  }) %> 

    </div>
    
   
  <script>
    const slider = document.getElementById('fontSizeSlider');
    const textToResize = document.getElementById('fonts');

    slider.addEventListener('input', () => {
        textToResize.style.fontSize = `${slider.value}px`;
    })
  </script>
    
</body>
</html>